<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>
      <%= require("./app/views/partials/header.ejs")() %>
    </header>
    <div class="content">
ewefwef
    </div>
    <footer>
      <%= require("./app/views/partials/footer.ejs")() %>
    </footer>
</body>
</html>
