<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>
</head>
<body>
<header class="Header">
  The header:  <a href="index.html">Home</a> - <a href="about.html">About</a>
</header>
