/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

/*
@font-face {
    font-family: "Circular-Mediumitalic";
    src:url("/static/fonts/lineto-circular-mediumitalic.eot");
    src:url("/static/fonts/lineto-circular-mediumitalic.eot?#iefix") format("embedded-opentype"),
        url("/static/fonts/lineto-circular-mediumitalic.woff2") format("woff2"),
        url("/static/fonts/lineto-circular-mediumitalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
*/ 
